.rts-btn {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  max-width: max-content;
  transition: 0.3s;
  z-index: 1;

  &:focus {
    box-shadow: none;
  }

  img {
    max-width: 24px;
    height: auto;
  }

  &.btn-bold {
    height: 48px;
  }

  &.btn-border {
    border: 1px solid #d1d1d1;
    gap: 44px;
    color: #262626;
    font-weight: 400;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // border: 1px solid #D1D1D1;
      transition: opacity 0.5s, border 0.5s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 1%;
      left: 0%;
      width: 200px;
      height: 200px;
      background-color: #3534ff;
      border-color: transparent;
      border-radius: 50%;
      transform: translate(-10px, -70px) scale(0.1);
      opacity: 0;
      z-index: -1;
      transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
    }

    &:hover {
      color: #fff;
      border: 1px solid transparent;

      ::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
        transform: scaleX(1.5) scaleY(1.5);
      }

      img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
          saturate(7500%) hue-rotate(136deg) brightness(120%) contrast(107%);
      }
    }
  }

  &.btn-primary {
    padding: 17px 15px;
    padding-bottom: 19px;
    background: var(--color-secondary);
    gap: 31px;
    height: 48px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--color-offset);
    border: none;
    font-family: "Wayfarer";
    letter-spacing: 1px;
    &[type="submit"] {
      padding-bottom: 21px;
      svg {
        path {
          stroke-width: 2.25px;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // border: 1px solid #D1D1D1;
      transition: opacity 0.5s, border 0.5s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 1%;
      left: 0%;
      width: 230px;
      height: 200px;
      background-color: #c8b024;
      border-color: transparent;
      border-radius: 50%;
      transform: translate(-10px, -70px) scale(0.1);
      opacity: 0;
      z-index: -1;
      transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
    }

    &:hover {
      color: white;
      // border: 1px solid transparent;

      ::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
        transform: scaleX(1.5) scaleY(1.5);
      }

      svg {
        path {
          fill: white !important;
          stroke: #ecdd87;
          stroke-width: 2.25px;
        }
      }
    }
    &.with-light-border {
      border: 1px solid transparent;
      &:hover {
        border: 1px solid rgba(16, 105, 0, 0.165) !important;
      }
    }
    &.book-tee-time-btn {
      font-family: "Wayfarer";
    }
  }
}

.arrow-btn {
  img {
    max-width: 22px;
    height: auto;
  }
}

.btn-border {
  svg {
    max-width: 24px;

    path {
      stroke: #262626;
    }
  }

  &:hover {
    svg {
      path {
        stroke: #fff;
      }
    }
  }
}
