.single-nav-area-footer {
  p.parent {
    color: #262626;
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 15px;
    font-family: var(--font-medium);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 17px 0;

      a {
        color: #262626;
        font-weight: 500;
        max-width: max-content;
        position: relative;
        font-family: var(--font-medium);

        &::after {
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 100%;
          background: #00000014;
          height: 1px;
          content: "";
          transition: 0.3s;
        }

        &::before {
          position: absolute;
          right: 0;
          bottom: -5px;
          width: 0%;
          background: var(--color-primary);
          height: 1px;
          content: "";
          transition: 0.3s;
          z-index: 1;
        }

        &:hover {
          color: var(--color-primary);

          &::before {
            width: 100%;
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
}

.rts-footer-area {
  padding-top: 14rem;
  // background-color: #f4f7f5;
  .container {
    
    padding: 0 1rem 11rem 2rem;
  }
  & > .container {
    & > .row {
      padding-bottom: 7rem;
      justify-content: space-between;
    }
  }
  .logo {
    display: block;
    width: fit-content;
    // margin-bottom: 20px;
  }

  .logo-area {
    max-width: 322px;

    @media #{$mdsm-layout} {
      max-width: 100%;
      margin-bottom: 30px;
    }

    p.disc {
      font-size: 16px;

      @media #{$small-mobile} {
        font-size: 14px;
      }
    }
  }
  @media (max-width: 768px) {
    padding-top: 10rem;
    .container {
      padding: 0 2rem 11rem 2rem;
    }
  }
}

.rts-copyright-area-one {
  & * {
    // color: rgba(46, 46, 46, 0.787)
  }
  .row {
    border-top: 1px solid #ffffff22;
    border-top: 1px solid var(--color-offset);
  }
  .copyright-wrapper {
    // border-top: 1px solid #00000014;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 0 0 0; 
     .new-row {
      p {
        .link-to-studio {
          transition: all 0.25s ease;
          &:hover,
          &:active,
          &:focus {
            color: rgba(255, 255, 255, 0.65);
          }
        }
      }
    }
    .teequest-link {
      color: rgba(255, 255, 255, 0.733);
      cursor: text;
      .fa-gears {
        display: inline-block;
        margin-top: -15px;
        width: 20px;
        opacity: 0.65;

      }
      transition: all 0.25s ease;
      &:hover {
        color: rgb(255, 255, 255);
      }
    }
    @media #{$large-mobile} {
      flex-direction: column;
      gap: 20px;
    }

    p {
      margin: 0;
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0;
      padding: 0;

      a {
        transition: 0.3s;

        i {
          transition: 0.3s;
          font-size: 24px;
        }

        &:hover {
          i {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

.gradient-footer-wrapper {
  // background: linear-gradient(180deg, #ffffff 70%, #cfe4c9 120%);
}

.bg_color-dark-5 {
  background: #0b0a33;
}

.title-center-footer-5 {
  text-align: center;

  .title {
    font-size: 64px;
    color: #fff;

    @media #{$large-mobile} {
      font-size: 44px;
    }
  }
}

.map-location-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  margin-top: 100px;

  @media #{$smlg-device} {
    flex-wrap: wrap;
  }

  @media #{$large-mobile} {
    justify-content: center;
  }

  & * {
    color: #fff;
  }

  .location-single {
    text-align: center;
    position: relative;

    &:last-child {
      &::after {
        display: none;
      }
    }

    &::after {
      top: 0;
      content: "";
      position: absolute;
      right: -80px;
      height: 100%;
      width: 1px;
      background: #ffffff;
      opacity: 0.25;

      @media #{$smlg-device} {
        right: -40px;
      }

      @media #{$mdsm-layout} {
        display: none;
      }
    }

    .title {
      font-size: 40px;

      @media #{$large-mobile} {
        font-size: 28px;
      }
    }

    a {
      display: block;
      transition: 0.3s;
      font-size: 20px;
      color: #d1d1d1;
      margin: 2px 0;

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

.footer-copyright-area-small {
  padding: 40px 0;
  background: var(--color-primary);

  & * {
    color: #fff;
  }

  .small-footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media #{$large-mobile} {
      flex-direction: column;
      align-items: center;
    }

    p {
      margin: 0;
      font-size: 16px;
    }

    .nav-social-area {
      ul {
        gap: 24px;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
      }
    }
  }
}

footer {
  background: var(--color-primary);
  color: white;
  .container {
    .row {
      .logo-column {
        &.center-please {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        div:not(.that-group) {
          display: flex;
          flex-direction: column;
          // justify-content: center;
          .logo-brick {
            display: flex;
            flex-direction: row;
            padding-bottom: 5rem;
            align-items: center;
            .logo-col {
              //  flex-basis: 180px;
              // padding-bottom: 1rem;
              .footer-logo {
                width: 280px;
                height: auto;
                filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.05))
                  drop-shadow(0 2px 2px rgba(0, 0, 0, 0.06))
                  drop-shadow(0 4px 4px rgba(0, 0, 0, 0.07))
                  drop-shadow(0 8px 8px rgba(0, 0, 0, 0.08))
                  drop-shadow(0 16px 16px rgba(0, 0, 0, 0.09))
                  drop-shadow(0 32px 32px rgba(0, 0, 0, 0.1));
              }
            }
          }
          .footer-form {
            padding-bottom: 3rem;
            p {
              color: white;
            }
            .that-group {
              display: flex;
              flex-direction: row;
              width: 100%;
              gap: 10px;
              input {
                border-radius: 0;
                height: 40px;
                font-size: 16px;
                padding: 12px;
                border: 1px solid rgba(255, 255, 255, 0.26);
                border: 1px solid var(--color-offset);
                color: white;
                background: #4e5540;
                &::placeholder {
                  color: rgba(255, 255, 255, 0.435);
                }
                &:active,
                &:focus,
                &:hover {
                  border: 1px solid #6c7460;
                }
              }
              button {
                height: 40px;
                font-family: "Wayfarer";
                letter-spacing: 1px;
                &:after {
                  // transform: translate(-20%, -70px) scale(0.1);
                }
              }
            }
          }
          .link-group {
            .footer-link-group-title {
              font-family: "Wayfarer";
              font-size: 16.5px;
              letter-spacing: 1px;
              opacity: 0.3;
              padding-bottom: 1.25rem;
            }
            .contact-stack {
              padding-top: 0.25rem;
              padding-right: 3rem;
              // border-right: 1px solid var(--color-offset);
              color: rgba(255, 255, 255, 0.733);
              .link {
                transition: all 0.3s ease;
                line-height: 145%;
                &.map-link {
                  margin-top: 1.5rem;
                }
                .icon {
                  width: 20px;
                  height: auto;
                  margin-right: 15px;
                  position: relative;
                  &.phone-icon {
                    top: -1px;
                    width: 26px;
                    path {
                      fill: #b0632e;
                    }
                  }
                  &.map-icon {
                    width: 25px;
                    bottom: -2px;
                  }
                }

                &:hover {
                  color: rgb(255, 255, 255);
                }
              }
            }
            .social-stack {
              padding-left: 5rem;
              color: rgba(255, 255, 255, 0.733);
              .social-link {
                text-decoration: none;
                transition: all 0.3s ease;
                line-height: 145%;
                img {
                  width: 20px;
                  height: auto;
                  margin-right: 15px;
                  margin-top: -1.5px;
                  &.city {
                    width: 15px;
                  }
                  &.county {
                    width: 24px;
                  }
                  &.cc {
                    width: 20px;
                  }
                  &.nv {
                    width: 13px;
                  }
                  &.pony {
                    width: 21px;
                  }
                }
                &:hover {
                  color: rgb(255, 255, 255);
                }
                &:not(:first-of-type) {
                  margin-top: 1rem;
                }
              }
            }

            // .facebook-link {
            //   position: relative;
            //   top: -2px;
            //   padding-left: 3.25rem;
            //   .facebook-logo {
            //     width: 85px;
            //     height: auto;
            //     overflow: visible;
            //     path {
            //       fill: var(--color-accent);
            //       transition: all 0.25s ease;
            //     }
            //   }
            //   &:hover {
            //     .facebook-logo {
            //       path {
            //         fill: #0766ff;
            //       }
            //     }
            //   }
            // }
          }
        }
      }
    }
  }

  //* weather widget styling
  .weather-card {
    padding: 7rem;
    position: relative;
    top: -5px;
    width: fit-content;
    background-color: #4f5640;
    min-width: 90%;
    border-radius: 1px;
    .weather-heading {
      color: white;
      font-family: "IKOB";
      font-size: 3rem;
      text-align: center;
      justify-content: center;
      padding-bottom: 3rem;
      .grey-text {
        color: rgba(255, 255, 255, 0.65);
        .hyphen {
          display: inline-block;
        }
        .break {
          display: none;
        }
        display: inline-block;
        font-family: var(--font-primary);
      }
    }
    .card-body {
      padding: 0;
      // padding-bottom: 2.8rem;
    }
    // future weather rows
    .row {
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-family: var(--font-medium);
      padding: 10px 0;
      color: rgba(255, 255, 255, 0.65);
      justify-content: center;
      align-items: center;
      [class*="col"] {
        .tomorrow-icon,
        .day-after-tomorrow-icon,
        .three-days-from-today-icon {
          width: 17px;
        }
      }

      //~ Today's weather
      &.today-row {
        padding-bottom: 1.75rem;
        .today-icon {
          display: flex;
          flex-direction: row;
          justify-content: center;
          .icon-img {
            margin-top: -1px;
            margin-left: -9px;
            width: 52px;
          }
        }
        .today-temp {
          font-size: 5.5rem;
          padding: 0rem;
          margin-left: -5px;
          color: white;
          .the-temp {
            position: relative;
            &:after {
              content: "°F";
              font-size: 14px;
              color: rgba(255, 255, 255, 0.65);
              position: absolute;
              right: -16px;
              top: 8px;
            }
          }
        }
        .today-weather {
          display: flex;
          flex-direction: row;
          justify-content: center;
          .today-weather-wrapper {
            width: fit-content;
            padding-top: 0rem;
            padding-left: 0rem;
            padding-right: 0rem;
            line-height: 116%;
            .what-weather {
              color: white;
              display: block;
              // text-wrap: nowrap;
            }
            .light-white {
              display: block;
              color: #ffffffa6;
              .wind-icon {
                width: 15px;
                height: auto;
                position: relative;
                top: -0.5px;
              }
            }
          }
        }
      }

      //~ The 3 future weather summaries
      &.future-row {
        [class*="col"] {
          flex: 1;
        }
        // .day {
        //   text-align: center;
        // }
        .icon {
          text-align: center;
          font-size: 1.2rem;
          opacity: 0.65;
        }
        // .temp {
        //   text-align: center;
        // }
      }
    }
  }
  @media screen and (max-width: 550px) {
    .weather-card {
      ._500 {
        line-height: 130%;
        margin-bottom: 1rem !important;
        .hyphen {
          display: none;
        }
      }
      .card-body {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2.5rem;
        padding-top: 1rem;

        .today-icon {
          padding-right: 0rem;
        }
      }
    }
  }
  .rts-copyright-area-one {
    color: white;
    .new-row {
      p {
        color: rgba(255, 255, 255, 0.733);
      }
    }
  }
  @media screen and (max-width: 1106px) {
    .gradient-footer-wrapper {
      .rts-footer-area {
        .container {
          .row {
            .logo-column {
              .logo-brick {
                .logo-col {
                  flex-basis: unset;
                }
              }
            }
            .weather-col {
              .weather-card {
                padding: 5rem;
                .card-body {
                  .weather-heading {
                    padding: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .gradient-footer-wrapper {
      .rts-footer-area {
        .container {
          .row {
            .logo-column {
              div:not(.that-group) {
                .link-group {
                  font-size: 15px;
                  .contact-stack {
                    border-right: none;
                    border-bottom: 1px solid var(--color-offset);
                    padding-bottom: 2rem;
                    padding-right: 0;
                  }
                  .social-stack {
                    padding-left: 0;
                    padding-top: 2rem;
                  }
                }
              }
               .logo-brick {
                .logo-col {
                  a {
                    margin: 0 auto;
                   
                  }
                }
              }
            }

            .weather-col {
              .weather-card {
                padding: 4rem;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    .gradient-footer-wrapper {
      .rts-footer-area {
        .container {
          & > .row {
            padding-bottom: 4rem;
            .logo-column {
              .logo-brick {
                padding-bottom: 9rem;
                .logo-col {
                  a {
                    .footer-logo {
                      width: 250px;
                      position: relative;
                      z-index: 98;
                    }
                  }
                }
              }
              .footer-form {
                padding-bottom: 5rem;
              }
              div:not(.that-group) {
                .link-group {
                  .contact-stack {
                    .link {
                      .icon {
                        &.map-icon {
                          width: 22px;
                        }
                        &.phone-icon {
                          width: 25.5px;
                        }
                      }
                    }
                  }
                }
              }
            }
            .weather-col {
              .weather-card {
                padding: 1rem;
                padding-top: 1.5rem;
                padding-bottom: 0.25rem;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}